  <!-- Content Header (Page header) -->
<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="quanlynhacungcap">Quản lý nhà cung cấp</a></li>

    </ol>
</section>



<div class="container-fluid" style="margin-bottom:20px">
    <h1 style="margin-bottom:20px;text-align:center">Quản lý nhà cung cấp</h1>

    <div class="row">
        <div class="col-md-4col-md-offset-3 justify-content-center" style="margin:auto">
          


            <span class="input-group slectPhanLoai" >


                <span class="input-group-append">
                    <span class="input-group-text"><b>Phân loại : </b></span>
                </span>
                <select class="selectpicker form-control " ng-model="PhanLoai" >
                    <option disabled value="">Chọn phân loại</option>
                    <option value="Cá nhân">Cá nhân</option>
                    <option value="Tổ chức">Tổ chức</option>
                    <option value="">Xem tất cả</option>
                </select>



                <span class="input-group-append">
                    <span class="input-group-text"><b>Tìm kiếm: </b></span>
                </span>

                <span class="input-group-append">
                    <input ng-model="keyword" type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm">


                </span>
                <span class="input-group-append">
                    <a ng-click="getbykeyword(keyword)" class=" form-control btn btn-primary text-white"> Tìm</a>
                </span>
                <span class="input-group-append col-md-offset-3 ">
                    <a ng-click="GetAllNhaCungCap()" class="   btn btn-primary text-white"> Xem tất cả</a>
                </span>


               
            </span>




           


        </div>

    </div>
        <!--<div class="row print">-->



        <br /><br /><br /><br />

        <div class="row">

            <div class="col-md-12  " style="padding:0px" ng-show="hideAll">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr style="background:#74b9ff">

                                <th>STT</th>
                                <th>Mã nhà cung cấp</th>
                                <th>Nhóm khách hàng nhà cung cấp</th>
                                <th>Phân loại</th>

                                <th>Tên nhà cung cấp </th>
                                <th>Chi nhánh </th>
                                <th>Địa chỉ </th>
                                <th>Số điện thoại</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat=" item in NhaCungCapAll|filter:{PhanLoai:PhanLoai}">
                                <td>{{$index+1}}</td>
                                <td>{{item.MaNhaCungCap}}</td>
                                <td>{{item.NhomKH_NCC}}</td>
                                <td>{{item.PhanLoai}}</td>
                                <td><a href="" ng-click="getTenNhaCungcap(item.MaNhaCungCap)">{{item.TenNhaCungCap}}</a></td>
                                <td>{{item.ChiNhanh}}</td>
                                <td>{{item.DiaChi}}</td>
                                <td>{{item.SoDienThoai}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="row" ng-show="AllTenNhaCungcap" style="margin:30px 0px">

            <div class="col-md-6 col-md-offset-3  table-responsive">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">

                        <tr class="text-left">
                            <td>Mã nhà cung cấp</td>
                            <th ng-show="view">{{FilterTenNhaCungcap.MaNhaCungCap}}</th>
                            <th ng-show="edit"><input type="text" ng-model="FilterTenNhaCungcap.MaNhaCungCap" /></th>
                        </tr>
                        <tr class="text-left">
                            <td>Nhóm khách hàng nhà cung cấp</td>
                            <th ng-show="view">{{FilterTenNhaCungcap.NhomKH_NCC}}</th>
                            <th ng-show="edit"><input type="text" ng-model="FilterTenNhaCungcap.NhomKH_NCC" /></th>
                        </tr>
                        <tr class="text-left">
                            <td>Phân loại</td>
                            <th ng-show="view">{{FilterTenNhaCungcap.PhanLoai}}</th>
                            <th ng-show="edit"><input type="text" ng-model="FilterTenNhaCungcap.PhanLoai" /></th>
                        </tr>
                        <tr class="text-left">
                            <td>Tên nhà cung cấp </td>
                            <th ng-show="view">{{FilterTenNhaCungcap.TenNhaCungCap}}</th>
                            <th ng-show="edit"> <input type="text" ng-model="FilterTenNhaCungcap.TenNhaCungCap" /></th>
                        </tr>
                        <tr class="text-left">
                            <td>Chi nhánh </td>
                            <th ng-show="view">{{FilterTenNhaCungcap.ChiNhanh}}</th>
                            <th ng-show="edit"><input type="text" ng-model="FilterTenNhaCungcap.ChiNhanh" /></th>
                        </tr>
                        <tr class="text-left">
                            <td>Địa chỉ </td>
                            <th ng-show="view">{{FilterTenNhaCungcap.DiaChi}}</th>
                            <th ng-show="edit"> <input type="text" ng-model="FilterTenNhaCungcap.DiaChi" /></th>
                        </tr>
                        <tr class="text-left">
                            <td>Số điện thoại</td>
                            <th ng-show="view">{{FilterTenNhaCungcap.SoDienThoai}}</th>
                            <th ng-show="edit"><input type="text" ng-model="FilterTenNhaCungcap.SoDienThoai" /></th>
                        </tr>
                        <tr class="text-left">
                            <td>Fax</td>
                            <th ng-show="view">{{FilterTenNhaCungcap.Fax}}</th>
                            <th ng-show="edit"><input type="text" ng-model="FilterTenNhaCungcap.Fax" /></th>
                        </tr>
                        <tr class="text-left">
                            <td>Email</td>
                            <th ng-show="view">{{FilterTenNhaCungcap.Email}}</th>
                            <th ng-show="edit"><input type="text" ng-model="FilterTenNhaCungcap.Email" /></th>
                        </tr>
                        <tr class="text-left">
                            <td>Website</td>
                            <th ng-show="view">{{FilterTenNhaCungcap.Website}}</th>
                            <th ng-show="edit"><input type="text" ng-model="FilterTenNhaCungcap.Website" /></th>
                        </tr>

                        <tr class="text-left">
                            <td>Mã số thuế</td>
                            <th ng-show="view">{{FilterTenNhaCungcap.MaSoThue}}</th>
                            <th ng-show="edit"><input type="text" ng-model="FilterTenNhaCungcap.MaSoThue" /></th>
                        </tr>
                        <tr class="text-left">
                            <td>Số tài khoản ngân hàng</td>
                            <th ng-show="view">{{FilterTenNhaCungcap.SoTaiKhoanNganHang}}</th>
                            <th ng-show="edit"><input type="text" ng-model="FilterTenNhaCungcap.SoTaiKhoanNganHang" /></th>
                        </tr>
                        <tr class="text-left">
                            <td>Tên ngân hàng</td>
                            <th ng-show="view">{{FilterTenNhaCungcap.TenNganHang}}</th>
                            <th ng-show="edit"><input type="text" ng-model="FilterTenNhaCungcap.TenNganHang" /></th>
                        </tr>
                        <tr class="text-left">
                            <td>Người liên hệ</td>
                            <th ng-show="view">{{FilterTenNhaCungcap.NguoiLienHe}}</th>
                            <th ng-show="edit"><input type="text" ng-model="FilterTenNhaCungcap.NguoiLienHe" /></th>
                        </tr>






                    </table>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3 justify-content-center btn-block text-center">
                <button type="button" class="btn btn-danger" ng-show="view" ng-click="trove()">Trở về</button> &nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary " ng-show="view" ng-click="thaydoithongtin()">Thay đổi thông tin khách hàng</button>
                <button type="button" class="btn btn-danger" ng-show="edit" ng-click="huy()">Hủy</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" ng-show="edit" ng-click="update()">Lưu</button>

            </div>

        </div>





    <!--</div>-->
</div>
