  <!-- Content Header (Page header) -->
<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="quanlyquagio">Quản lý quá giờ</a></li>

    </ol>
</section>

<div class="container-fluid" style="margin-bottom:20px">
    <h1 style="margin-bottom:20px;text-align:center">Quản lý quá giờ</h1>
    <div class="row">

        <div class="col-md-10" style="margin:auto">
            <div class="table-responsive">
                <table class="table  table-bordered chu">
                    <tr style="background:#74b9ff">
                        <th>Mã số nhân viên</th>
                        <th>Tên nhân viên</th>

                        <th>Số giờ </th>
                        <th>Phân loại </th>







                    </tr>
                    <tr ng-repeat=" item in QuanLyQuaGio">
                        <th>{{item.MaSoNhanVien}}</th>
                        <th>{{tennhanvien}}</th>




                        <td>
                            <input ng-show="Edit " ng-model="QuanLyQuaGio[$index].SoGio" type="text" />
                            <span ng-show="hide">{{item.SoGio}}</span>

                        </td>
                        <td>
                            <input ng-show="Edit " ng-model="QuanLyQuaGio[$index].PhanLoai" type="text" />
                            <span ng-show="hide">{{item.PhanLoai}}</span>

                        </td>



                    </tr>


                </table>
            </div>
        </div>

    </div>
</div>

<!--<div class="center-block  text-center">
    <button ng-show="close" type="submit" class="btn btn-primary " style="background:#74b9ff;" ng-click="mobang()">Thay đổi quản lý quá giờ</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>
<div class="row" style="margin-top:10px" ng-show="save">
    <div class="col-md-5" style="margin-left:710px">
        <button type="button" class="btn btn-primary " ng-disabled="form.$invalid" ng-click="UpDateQuanLyQuaGio()">Lưu</button>
        <button type="submit" class="btn btn-danger" ng-show="closehuy" ng-click="huy()">Hủy</button>
    </div>
</div>-->

