<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

<connectionStrings>
	<clear/>
	<!--<add name="PlatformTHEntities" connectionString="metadata=res://*/QLTH.csdl|res://*/QLTH.ssdl|res://*/QLTH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=PlatformTH;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<add name="PlatformTH" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PlatformTH;Integrated Security=False;User Id=sa;Password=123;MultipleActiveResultSets=True" />

</connectionStrings>
	<!--<connectionStrings>
		<clear/>
		<add name="PlatformTHEntities" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PlatformTH;Integrated Security=False;User Id=sa;Password=123;MultipleActiveResultSets=True"/>
	</connectionStrings>-->
</configuration>

<!--PlatformTHEntities-->