  
    <!-- Content Header (Page header) -->

<section class="content-header">
    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li> <a href="">Quản lý hàng hóa</a></li>
        <li><a ui-sref="quanlyhanghoa">Thêm hàng hóa</a></li>
      
    </ol>
</section>

<!-- Main content -->
<div class="container">
    <div class="row print">

        <div class="input-group  col-md-12 hidden-xs justify-content-center">
            <form class="">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary btn-sm form-control" data-toggle="modal" data-target=".bs-example-modal-lg1">Thêm hàng hóa</button>
                </div>
            </form>
        </div>


        <div class="modal fade bs-example-modal-lg1" id="stack2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="false" data-keyboard="false" data-focus-on="input:first">
            <div class="modal-dialog modal-lg" role="document" style="max-width: 1205px;">
                <div class="modal-content" style="border-radius: 10px;
                     ">
                    <div class="modal-header">
                        <h3 style="text-align:center;color:red">Thêm hàng hóa</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Đóng" ng-click="huy()">
                            <span aria-hidden="true" style="color:red">&times; Đóng</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="form1" role="form" ng-submit="addHangHoa()">

                            <div class="row">

                                <div>

                                    <div class="col-md-12 table-responsive">
                                        <fieldset class="well">
                                            <div class="table-responsive">
                                                <table class="table table-bordered" style="border:solid #ddd 1px">

                                                    <tr>
                                                        <td> <b>Mã hàng</b></td>
                                                        <td colspan="2" width="80%">
                                                            <div class="input-group">

                                                                <input disabled ng-model="Add.MaHang" type="text" class="form-control">


                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Tên hàng</b></td>
                                                        <td colspan="2"> <input required ng-model="Add.TenHang" type="text" class="form-control"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Mã nhóm hàng hóa </b></td>
                                                        <td colspan="2">
                                                          
                                                            <select class="selectpicker form-control" ng-model="Add.MaNhomHH"
                                                                    ng-options="item.MaNhomHH  as  item.TenNhom  for item in getAllNhomHangHoa">
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td> <b>Mã tính chất</b></td>
                                                        <td colspan="2">
                                                            
                                                            <select class="selectpicker form-control" ng-model="Add.MaTinhChat"
                                                                    ng-options="item.MaTinhChat  as  item.TenTinhChat  for item in getAlltinhchathanghoa">
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td> <b>Tên đơn vị</b></td>
                                                        <td colspan="2"><input ng-model="Add.DonViTinh" type="text" class="form-control"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Bảo hành <span ng-show="form1.nhomkh.$error.required" class="has-error text-left"> &nbsp;* Bắt buộc</span></b></td>
                                                        <td colspan="2">
                                                            <div class="input-group">

                                                                <input ng-model="Add.BaoHanh" type="text" class="form-control">

                                                            </div>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td><b>Nguồn gốc</b></td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input ng-model="Add.NguonGoc" type="text" class="form-control">
                                                            </div>
                                                        </td>
                                                        <td rowspan="9" style="position:relative">
                                                            <div style="position:relative;width:70%;height:50%">

                                                                <img style="padding:0px;margin:50% 0px;position:absolute" class="img-fluid" src="{{Add.HinhAnh}}" /><br />

                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Mô tả</b></td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input ng-model="Add.MoTa" type="text" class="form-control">
                                                            </div>
                                                        </td>

                                                    </tr>

                                                    <tr>
                                                        <td><b>Giá nhập</b></td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input ng-model="Add.GiaNhap" type="text" class="form-control">
                                                            </div>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td><b>Giá bán </b></td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input ng-model="Add.GiaBan" type="text" class="form-control">
                                                            </div>
                                                        </td>

                                                    </tr>

                                                    <tr>
                                                        <td><b>Giá khuyến mãi</b></td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input ng-model="Add.GiaKhuyenMai" type="text" class="form-control">
                                                            </div>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td><b>Chiết khấu</b></td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input ng-model="Add.ChietKhau" type="text" class="form-control">


                                                            </div>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td><b>Thành phẩm</b></td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input ng-model="Add.ThanhPham" type="text" class="form-control">


                                                            </div>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td><b>Số lô</b></td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input ng-model="Add.SoLo" type="text" class="form-control">


                                                            </div>

                                                    </tr>
                                                    <tr>
                                                        <td><b>Hạn sử dụng </b></td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input ng-model="Add.HanSuDung" type="text" class="form-control">


                                                            </div>

                                                    </tr>
                                                    <tr>
                                                        <td><b>% Thuế GTGT </b></td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input ng-model="Add.VAT" type="text" class="form-control">


                                                            </div>
                                                        </td>
                                                        <td style="border:none">
                                                            <button type="button" class="btn btn-primary" ng-click="ChooseImage()"> <i class="fa fa-image"></i>Tải ảnh lên</button>

                                                        </td>
                                                    </tr>


                                                </table>
                                            </div>
                                        </fieldset>
                                    </div>

                                </div>
                             
                            </div>

                            <div class=" row" style="margin:20px 0px">
                                <div class=" col-md-6"></div>
                                <div class=" col-md-6"> 
                                <button type="submit" class="btn btn-primary">Lưu</button>
                                <button ng-click="huy()" type="button" class="btn btn-danger" >Hủy</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
